@page
@model MigsModernization.Pages.Migs.Modernizations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modernization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modernization.ModernizationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modernization.ModernizationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modernization.Performed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modernization.Performed)
        </dd>
        <dt>
            Planned By
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modernization.PlannedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modernization.MigSideNumberNavigation.SideNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modernization.MigSideNumberNavigation.SideNumber)
        </dd>
        <dt>
            Airplane
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modernization.MigSideNumberNavigation.AirplaneNavigation.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Modernization.MigSideNumberNavigation.AirplaneNavigation.Version)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Modernization.MigSideNumberNavigation.AirplaneNavigation.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Modernization.Id">Edit</a> |
    <a asp-page="./Index" asp-route-sideNumber="@Model.Modernization.MigSideNumber">Back to List</a>
</div>
