@page
@model MigsModernization.Pages.Migs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Airplane
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mig.AirplaneNavigation.Name)
        </dd>
        <dt>

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mig.AirplaneNavigation.Version)
        </dd>
        <dt>

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mig.AirplaneNavigation.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mig.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mig.Unit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mig.StagingArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mig.StagingArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mig.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mig.Notes)
        </dd>
        <dt>
            
        </dt>
        <dd>
            <a asp-page="./Modernizations/Index" asp-route-sideNumber="@Model.Mig.SideNumber"> Modernizations </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mig.SideNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
